openai~=1.57.2
langchain~=0.3.11
langgraph~=0.2.58
langchain_core
langchain_openai
langchain-community
python-dotenv
aiosqlite
pygments
gradio
markdown
pdfkit
markdown
tavily-python
boto3
botocore
urllib3
